<html>
  <head>
    <link rel="stylesheet" href="../public/styles/main.css" />
  </head>
  <body>
    <h1>About Elon Musk</h1>
    <p>
      Elon Reeve Musk FRS (/ˈiːlɒn/; born June 28, 1971) is an engineer, business magnate, investor,
      and philanthropist.[2][3][4] He is a citizen of South Africa, Canada, and the United States
      (where he has lived most of his life and currently resides), and is the founder, CEO and chief
      engineer/designer of SpaceX;[5] co-founder, CEO and product architect of Tesla, Inc.;[6][7]
      founder of The Boring Company;[8] co-founder of Neuralink; and co-founder and initial
      co-chairman of OpenAI.[9] He was elected a Fellow of the Royal Society (FRS) in 2018.[10][11]
      In December 2016, he was ranked 21st on the Forbes list of The World's Most Powerful
      People,[12] and was ranked joint first on the Forbes list of the Most Innovative Leaders of
      2019.[13] He has a net worth of $38.2 billion and is listed by Forbes as the 23rd-richest
      person in the world.[1] He is the longest tenured CEO of any automotive manufacturer
      globally.[14]
    </p>
    <img src="/images/garfield.jpg" alt="" />
  </body>
</html>
