<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <link rel="stylesheet" href="/styles/style.css" />
  <body>
    <h1>Welcome to the about</h1>
    <nav>
      <div><a href="/">Home</a></div>
      <div><a href="/about">About</a></div>
      <div><a href="/work">Work</a></div>
    </nav>
    <p>Full name: Leonardo Wilhelm DiCaprio</p>
    <p>Age: 45</p>
    <p>Born: November 11, 1974</p>
  </body>
</html>
