<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Rossi</title>
    <link rel="stylesheet" href="/public/styles/main.css" />
  </head>
  <body>
    <h1>Rossi's fan page</h1>
    <p>Name: Valentino Rossi</p>
    <p>age:40</p>
    <p>Profission: moto gp rider</p>
    <p>
      Rossi is widely considered one of the most successful motorcycle racers of all time, with nine
      Grand Prix World Championships to his name – seven of which are in the premier class. Rossi is
      also the only road racer to have competed in 400 or more Grands Prix.[1] He has ridden with
      number 46 his entire career, also when being the title defender. After graduating to the
      premier class in 2000, Rossi won the 500cc World Championship and 8 Hours of Suzuka with Honda
      in 2001, the MotoGP World Championships (also with Honda) in 2002 and 2003 and continued his
      streak of back-to-back championships by winning the 2004 and 2005 titles after leaving Honda
      to join Yamaha. All of those titles were won in a dominant manner, being decided before the
      final round on all occasions. He lost the 2006 title with a crash in the final round at
      Valencia, ceding the title to his former Honda teammate Nicky Hayden. In 2007 Rossi and Yamaha
      were of no match to a dominant Casey Stoner on a Ducati, and Rossi ultimately finished a then
      career-low third overall. Rossi regained the title in 2008 following several tight duels with
      title defendant Stoner and retained it in 2009.[2] After a 2010 marred by a broken leg and no
      title challenge, Rossi left Yamaha to join Ducati for the 2011 season.[3][4] Rossi replaced
      Stoner at Ducati, who went on to win the 2011 title with Honda instead while Rossi endured a
      difficult spell with his compatriot marque. It was confirmed in 2012 that he would rejoin
      Yamaha for the 2013 and 2014 seasons[5] after Rossi suffered two winless seasons while at
      Ducati. Following his return to Yamaha he has finished second overall in 2014, 2015 and 2016.
      Rossi led the championship for the vast majority of the 2015 season before being surpassed by
      team colleague Jorge Lorenzo in the final round at Valencia, with Rossi losing out as a result
      of a grid penalty sustained for a controversial clash with Honda rider Marc Márquez in the
      previous Malaysian round. During Rossi's second stint at Yamaha, Márquez won multiple titles
      in succession with Rossi often having to settle for podium finishes and only occasional wins.
      After Rossi won the 2017 Dutch TT, a winless streak of multiple years followed, although he
      managed to finish third in the 2018 championship even during this period.
    </p>
  </body>
</html>
