<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="a descrição do seu site em no máximo 90 caracteres" />
    <meta name="keywords" content="escreva palavras-chaves curtas, máximo 150 caracteres" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>About</title>
  </head>
  <body>
    <div>
      <nav>
        <ul class="navbar navbar-expand-lg navbar-light bg-light">
          <li class="nav-item"><a class="nav-link active" href="./about">About</a></li>
          <li class="nav-item"><a class="nav-link active" href="./work">Work</a></li>
          <li class="nav-item"><a class="nav-link active" href="./photos">Photos</a></li>
        </ul>
      </nav>
    </div>

    <div class="about cover">
      <h1>Let's talk about stuff...</h1>
      <h4>This about stuff</h4>
      <p>
        O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem
        vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma
        misturou os caracteres de um texto para criar um espécime de livro. Este texto não só
        sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se
        essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de
        Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de
        publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.
      </p>
      <a id="find" href="#">Find more here...</a>
    </div>

    <span></span>

    <img src="endereço_de_uma_imagem.jpg" />
  </body>
</html>
