<html>
  <head>
    <title>Page not found</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="gallery">
    <header class="gallery">
      <nav>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./work">Work</a></li>
          <li><a href="./gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <div id="error">
      <h1>Page not found</h1>
      <h1>:(</h1>
      <p>
        You seem to have clicked on a broken link or entered a URL that doesn't exist on this site.
      </p>
    </div>
  </body>
</html>
