<html>
  <head>
    <title>Fernando Meirelles - Gallery</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="gallery">
    <header class="gallery">
      <nav>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./work">Work</a></li>
          <li><a href="./gallery" class="nav_white">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <img id="gallery" src="/images/gallery.png" align="right" />
  </body>
</html>
