<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="works.html">Works</a></li>
        <li><a href="gallery.html">Gallery</a></li>
      </ul>
    </nav>
    <header class="home">
      <h1 class="heading-home">Welcome to my page</h1>
    </header>
  </body>
</html>
