<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Albrecht Dürer</title>
  </head>
  <body>
    <section id="main-page">
      <h1>Welcome to the Albrecht Dürer gallery site</h1>
      <img src="/imgs/Durer_self_portrait.jpg" alt="" />
      <section id="page-links">
        <a href="./about">About</a>
        <a href="./works">Works</a>
        <a href="./gallery">Gallery</a>
      </section>
    </section>
  </body>
</html>
