<html>
  <head>
    <title>Fernando Meirelles</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./" class="nav_color">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./work">Work</a></li>
          <li><a href="./gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <div id="home_section">
      <div id="home_text">
        <h1>Fernando Meirelles</h1>
        <p>
          Film director, producer and screenwriter
        </p>
      </div>
      <img src="/images/fernando_meirelles.png" align="right" />
    </div>
  </body>
</html>
