<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Welcome to a website about Leonardo DiCaprio</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
    </nav>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis hic, illum cum quaerat
      veniam minus in atque officia qui veritatis soluta alias possimus eum velit, odit illo quas
      nulla totam!
    </p>
  </body>
</html>
