<html>
  <head>
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <nav>
      <a href="./about">About</a>
      <a href="./works">Works</a>
      <a href="./photoGallery">Photo Gallery</a>
    </nav>
    <section>
      <h1>Welcome to Crazy and Lazy</h1>
    </section>
    <section>
      <img src="/images/81Nu0WvnDuL.jpg" />
      <p>
        Laziness is often seen as a bit of a joke the stereotypical student who thinks each day has
        one 9 o clock; the prolific procrastinator; or just the ordinary person quick to make
        excuses when a hard job comes along. We are all too comfortable with laziness, too sleepy
        ourselves to notice the dangers a lifestyle like this brings. In Crazy Lazy, a book short
        enough even for the laziest of readers, Alistair Begg urges us to take laziness seriously.
        He delves into the book of Proverbs to warn us of the devastating effect it has on
        ourselves, our relationships with others and our relationship with God. This book not only
        show you that laziness if not of God, but will challenge you to tackle it head on, and
        encourage you that a life lived today can be so much more fulfilling than one constantly
        postponed until tomorrow.
      </p>
      <a class="buyTheBook" href="https://www.amazon.com/Crazy-Lazy-warning-against-laziness/dp/1909611905"
        >Buy the book in here!</a
      >
    </section>
  </body>
</html>
