<html>
  <head>
  </head>
  <body>
    <nav>
      <a href="./about">About</a>
      <a href="./works">Works</a>
      <a href="./gallery">Gallery</a>
    </nav>
  

  
    {{{body}}}



  <footer>
    <p>AF @ 2020</p>
  </footer>
  </body>
</html>