<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/facts">Facts</a>
      <a href="/gallery">Gallery</a>
    </nav>
      {{{ body }}}
    <footer>
      <p>This is the footer</p>
      <p>I hope I appear on every page</p>
    </footer>
  </body>
</html>
