<html>
  <head>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/lightbox.min.css" />
  </head>
  <body>
    <nav>
      <a href="./">Home</a>
      <a href="./about">About</a>
      <a href="./works">Works</a>
    </nav>
    <section>
      <h1>Check out this images</h1>
    </section>
    <section>
    <div class="gallery">
      <a href="/images/6a00d8345275cf69e2017d40872c83970c-300wi.jpg" data-lightbox="mygallery"
        ><img src="/images/6a00d8345275cf69e2017d40872c83970c-300wi.jpg"
      /></a>
      <a href="/images/81Nu0WvnDuL.jpg" data-lightbox="mygallery"
        ><img src="/images/81Nu0WvnDuL.jpg"
      /></a>
      <a href="/images/Crazy-or-Lazy.jpg" data-lightbox="mygallery"
        ><img src="/images/Crazy-or-Lazy.jpg"
      /></a>
      <a href="/images/d38dhqm-534dc6f7-72b6-492f-b162-55add7dbf900.jpg" data-lightbox="mygallery"
        ><img src="/images/d38dhqm-534dc6f7-72b6-492f-b162-55add7dbf900.jpg"
      /></a>
    </div>
  </section>
    <script src="/js/lightbox-plus-jquery.min.js"></script>
  </body>
</html>
