<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="a descrição do seu site em no máximo 90 caracteres" />
    <meta name="keywords" content="escreva palavras-chaves curtas, máximo 150 caracteres" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Photos</title>
  </head>
  <body>
    <div>
      <nav>
        <ul class="navbar navbar-expand-lg navbar-light bg-light">
          <li class="nav-item"><a class="nav-link active" href="./about">About</a></li>
          <li class="nav-item"><a class="nav-link active" href="./work">Work</a></li>
          <li class="nav-item"><a class="nav-link active" href="./photos">Photos</a></li>
        </ul>
      </nav>
    </div class="about">
    <h1>This will show pictures</h1>
    <div class="cover">
      <div class="d-flex justify-content-center contain padding">
      </div>
      <div class="d-flex justify-content-between padding">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-between padding">
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="https://source.unsplash.com/random" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
