    <h1>Works</h1>
    <section id="mediums">
      <div class="medium-card">
        <h2>Oil Painting</h2>
        <p>
          Albrecht Dürer painted a vast number of oil paintings, including religious scenes,
          portraits and landscapes.
        </p>
        <img src="/imgs/Albrecht_Dürer-Adam_and_Eve_(Prado).jpg" alt="Painting of Adam and Eve" />
        <figcaption><em>Adam and Eve</em>, 1507, Museo del Prado</figcaption>
      </div>
      <div class="medium-card">
        <h2 class="left">Drawings</h2>
        <img
          src="/imgs/Self-portrait_at_13_by_Albrecht_Dürer.jpg"
          alt="self-portrait at the age of 13"
        />
        <figcaption><em>Self portrait</em>, 1484</figcaption>
        <p>
          Dürer was a famous draughtsman. One of his most iconic drawings was done at the age of 13
          with silverpoint.
        </p>
      </div>
      <div class="medium-card">
        <h2>Engravings</h2>
        <p>
          Engravings both in metal and woodcuts were one of the artist's favourite techniques in his
          later years.
        </p>
        <img
          src="/imgs/Albrecht_Dürer_-_Melencolia_I_.jpg"
          alt="Engraving of a melancholic angel"
        />
        <figcaption><em>Melancolia I</em>, 1514</figcaption>
      </div>
      <div class="medium-card">
        <h2 class="left">Watercolours</h2>
        <img src="/imgs/Albrecht_Dürer_-_Hare_1502.jpg" alt="Watercolour of a hare" />
        <figcaption><em>Young Hare</em>, 1502</figcaption>
        <p>
          During his travels trough Europe Dürer produced dozens of watercoulours, making him one of
          the first european landscape artists.
        </p>
      </div>
    </section>
