<html>
  <head>
    <link rel="stylesheet" href="../public/styles/main.css" />
  </head>
  <body>
    <h1>Works</h1>
    <h2>Space X</h2>
    <p>
      SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was
      founded in 2002 to revolutionize space technology
    </p>
    <h2>Tesla</h2>
    <p>
      Tesla, Inc. (formerly Tesla Motors, Inc.), is an American electric vehicle and clean energy
      company based in Palo Alto, California.[8] The company specializes in electric vehicle
      manufacturing, battery energy storage from home to grid scale and, through its SolarCity
      subsidiary, solar panel and solar roof tile manufacturing.[9]
    </p>
  </body>
</html>
