<html>
  <head>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <h1>Some Facts:</h1>
    <p>
      Em Dezembro de 1981 as coisas continuam a correr mal ao FC Porto, e é então que um grupo de
      sócios se une com o objectivo de convencer Pinto da Costa a candidatar-se à presidência do
      clube. O "sim" demora a surgir, mas perante a insistência dos sócios Pinto da Costa acaba por
      aceitar, convidando Pedroto para voltar a treinar a equipa principal. Candidatando-se em lista
      única, Jorge Nuno Pinto da Costa vence as eleições de 17 de Abril de 1982, tornando-se o 33º
      presidente do FC Porto (ver a cronologia de presidentes do FC Porto no artigo relativo ao
      clube). No mesmo ano de 1982, o hóquei em patins do clube, que não havia vencido qualquer
      título desde a sua implementação em 1955, vence a Taça das Taças, arrancando para um período
      de ouro, durante o qual o clube venceu o mesmo título no ano seguinte de 1983, a Taça dos
      Clubes Campeões Europeus e a Taça Continental em 1986, a Taça dos Clubes Campeões Europeus em
      1990, e a Taça CERS em 1994 e 1996. Em 1983, criou-se a Loja Azul. Em 1984, o FC Porto chega à
      sua primeira final Europeia de futebol, na Taça das Taças, contra a Juventus, da qual sai
      derrotado pela margem mínima de 2-1. Em 1985, deu-se a criação da revista do clube, "Dragões".
      Em 1986, faz-se o rebaixamento do relvado do Estádio das Antas. Em 1987, vence a Taça dos
      Clubes Campeões Europeus e a Taça Intercontinental, e depois a Supertaça Europeia relativa à
      mesma época, já no início de 1988. A década de 1990 seria gloriosa para o futebol portista
      graças à conquista de oito campeonatos, cinco deles consecutivamente - o Pentacampeonato,
      feito inédito no futebol português, em 1999, ano em que conseguiu obter também o Pleno
      Nacional. Foi eleito 3.º Presidente da Direção da Liga Portuguesa de Futebol Profissional e,
      por inerência, Vice-Presidente da Federação Portuguesa de Futebol, a 10 de Julho de 1995,
      tendo tomado posse a 13 de Julho de 1995 e até 23 de Dezembro de 1996. Logo em Agosto de 1995,
      na época 1995/1996 foi organizado o primeiro campeonato pelo Organismo Autónomo (entidade
      considerada pela Federação Portuguesa de Futebol como autónoma da Liga com sede no mesmo local
      e suportada pela mesma estrutura administrativa) que foi posteriormente oficializado como
      fazendo parte da estrutura da Liga de Clubes. A Liga passou a ser responsável por
      regulamentar, organizar e gerir as competições de natureza profissional, exercer o poder
      disciplinar em primeiro grau de decisão e gerir o sector de arbitragem através de uma Comissão
      de Arbitragem. Também em Agosto de 1995 ocorreu a entrada em actividade da Comissão Arbitral
      Paritária com a publicação da Portaria N.º 1105/95, um novo centro de arbitragem voluntária
      com o objectivo a resolução de litígios decorrentes dos contratos individuais de trabalho
      desportivos celebrados entre os clubes e os respectivos jogadores profissionais de futebol. Em
      1997, foram criadas SADS para o futebol e o basquetebol. Em 1999, o clube venceu o título
      nacional de andebol, 31 anos depois. Já no século XXI, o clube azul e branco inauguraria, em
      2002, o CTFD PortoGaia, e aumentaria o seu palmarés internacional, vencendo quer o Campeonato
      Nacional quer a Taça UEFA em 2003, ano da inauguração do novo Estádio do Dragão, e o
      Campeonato Nacional e a Liga dos Campeões em 2004 sob o comando de José Mourinho e a Taça
      Intercontinental do mesmo ano já com Victor Fernandez, a que se acrescentam a demolição do
      Estádio das Antas e construção do Estádio do Dragão, com capacidade para 52 000 espectadores e
      mais um pleno nacional. No ano de 2009 conquista o segundo Tetracampeonato de futebol da sua
      presidência e da história do clube, com a equipa sob o comando de Jesualdo Ferreira. Em 2011
      viu o FC Porto conquistar a Liga Europa da UEFA de 2010-11 e a fazer ainda mais um Pleno
      Nacional, ao comando de André Villas-Boas, que viria a ser o mais jovem treinador de sempre a
      conquistar um troféu europeu e, também, o treinador com a transferência mais cara de sempre.
    </p>
  </body>
</html>
