<html>
  <head>
    <title>Fernando Meirelles - Work</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./work" class="nav_color">Work</a></li>
          <li><a href="./gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <h2>Filmography</h2>
    <div id="movies">
      <div class="movie_card">
        <img src="/images/two_popes.png" />
        <h3>The Two Popes</h3>
        <p>
          Behind Vatican walls, the conservative Pope Benedict XVI and the liberal future Pope
          Francis must find common ground to forge a new path for the Catholic Church.
        </p>
      </div>
      <div class="movie_card">
        <img src="/images/blindness.png" />
        <h3>Blindness</h3>
        <p>
          A city is ravaged by an epidemic of instant white blindness.
        </p>
      </div>
      <div class="movie_card">
        <img src="/images/city_of_god.jpg" />
        <h3>City of God</h3>
        <p>
          In the slums of Rio, two kids' paths diverge as one struggles to become a photographer and
          the other a drug lord.
        </p>
      </div>
    </div>
  </body>
</html>
