<html>
  <head>
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <nav>
      <a href="./">Home</a>
      <a href="./about">About</a>
      <a href="./photoGallery">Photo Gallery</a>
    </nav>
    <section>
      <h1>Works</h1>
    </section>
    <section>
      <p>
        Guys we are Crazzzzzzy and lazzzzzzy so we are still updating the site. 
        <br>Until it's updated just listen to Nat King Cole - Those Lazy Crazy-Hazy-Days Of Summer .
      </p>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/AoLogdbVS3U"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </section>
  </body>
</html>
