<html>
  <head>
    <link rel="stylesheet" href="/public/styles/main.css" />
  </head>
  <body>
    <h1>Best Quotes</h1>
    <p>
      <img src="/public/images/Winston-Churchill-Yousuf-Karsh-1941.jpg" alt="" />
    </p>

    <p>
      <strong>
        24 Winston Churchill Quotes to Inspire You to Never Surrender
      </strong>
    </p>
    <p>'We make a living by what we get,but we make a life by what we give.'</p>
    <p>'If you’re going through hell, keep going.'</p>
    <p>
      'You have enemies? Good. That means you’ve stood up for something, sometime in your life.'
    </p>
    <p>'To improve is to change, so to be perfect is to have changed often.'</p>
    <p>'I never ‘worry’ about action, but only about inaction.'</p>
    <p>'Success consists of going from failure to failure without loss of enthusiasm.'</p>
  </body>
</html>
