* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*Geral*/
h1 {
  font-size: 3rem;
}

.navbar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  min-height: 8vh;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

/*Home*/
.home {
  display: flex;
  min-height: 52vh;
  background: url('./images/pista.jpg');
  background-position: center;
  background-size: cover;
}

.heading-home {
  display: flex;
}

/*About*/
.about {
}

/*Works*/ /*Gallery*/
