<html>
    <head>
        
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="divAbout">
        <section id="likes">
            <h2>Things Sam Likes</h2>
           <ul>
            <li>History</li>
            <li>Memes</li>
            <li>History Memes</li>
            <li>His car</li>
            <li>Ryan</li>
            <li>Spicy Food</li>
          </ul>
        </section>
        <section id="dislikes">
                <h2>Things Sam Dislikes</h2>
               <ul>
                <li>Bland food</li>
                <li>Maris's Jokes</li>
                <li> Notting Hill (the movie)</li>
                <li>Japan</li>
               </ul>
            </section>
        </div>
        <a href="/">Back to main page</a>  
        
    </body>
</html>