<html>

<head>
    <title>About us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div><img src="images/einstein.jpg" alt="einstein" width="100" height="120"></div>
    <div>
        <h1>Albert Einstein</h1>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">The Nobel Prize in Physics 1921
            </li>
            <li class="list-group-item"> Born: 14 March 1879, Ulm, Germany
            </li>
            <li class="list-group-item"> Died: 18 April 1955, Princeton, NJ, USA
            </li>
            <li class="list-group-item"> Affiliation at the time of the award: Kaiser-Wilhelm-Institut (now Max-Planck-Institut) für Physik,
                Berlin, Germany
            </li>
            <li class="list-group-item"> Prize motivation: "for his services to Theoretical Physics, and especially for his discovery of the law
                of the photoelectric effect."
            </li>
            <li class="list-group-item">Albert Einstein received his Nobel Prize one year later, in 1922.</li>
        </ul>
    </div>
    
    <div><p>Albert Einstein grew up in Munich, where his father founded an electrical engineering company. After studying at
            the ETH university in Zurich, Einstein worked at the patent office in Bern, during which time he produced
            several pioneering works in the field of physics. He was later employed at universities in Bern, Zurich, and
            Prague, and from 1914, in Berlin. After the Nazis seized power in Germany, Einstein immigrated to the US, where
            he worked at the Institute for Advanced Study in Princeton, New Jersey. Albert Einstein married twice and had
            three children by his first marriage.</p></div>
            <div><a href="/">Main page</a></div>
</body>

</html>