<html>

<head>
    <title>ERROR 404 - PAGE NOT FOUND</title>
</head>

<body>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/photo">Photograph</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>
    <h1>This page does not exist</h1>
    <p>I'm not sure what you're looking for</p>
</body>

</html>