<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Maria Bethânia</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="gallery">
      
      <div class="container">
        <div class="grid">
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/1.jpg" />
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/8.jpg">
          </div>

          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/9.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/10.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/2.jpg" />
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/3.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/4.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/5.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/6.jpg">
          </div>
          <div class="column-xs-12 column-md-4">
            <figure class="img-container">
              <img src="/images/7.jpg">
          </div>
        

          <div class="justify">
            <a class="btn" href="/" role="button">Home</a>
            <a class="btn" href="about" role="button">About</a>
      
            </div>
    </section>

  </body>
</html>
