<html>
    <head>
        <title>
            Gallery
        </title>
        <link rel = "stylesheet" href = "/style.css"/>
    </head>
    <Body>
        <h1>
            Gallery
        </h1>
        <p>
            Images of Frida
        </p>
        <img src = "https://www.collectorsweekly.com/uploads/2013/01/Frida-Kahlo.jpg"> <br>
        <img src = "https://news.artnet.com/app/news-upload/2019/02/Muray-Frida-in-blue-blouse-768x1024.jpg"><br>
        <img src = "https://cdn.newsapi.com.au/image/v1/d30aee81053937843b15b47fc752ccc7"><br>
        <img src = https://dynaimage.cdn.cnn.com/cnn/q_auto,w_727,c_fit/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F180611154608-frida-kahlo-diego-rivera.jpg><br>

        <button><a href="/">Home</a></button><br>

        <button><a href="/about">Find out more about her</a></button><br>

        <button><a href="/works">See her work</a></button><br>
    </Body>
</html>