<html>
  <head>
    <title>Eleni's Art-designs</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="./about">About Me</a>
        </li>
        <li>
          <a a href="./gallery">Gallery</a>
        </li>
        <li>
          <a href="./works">Works</a>
        </li>
      </ul>
    </nav>
    <section>
      <article class="about-art">
        <h1>Art is for everyone!</h1>
        <div class="about-art-content">
          <p>
            Whether you are a beginning artist who decided to turn your passion
            for art into action, or a veteran who wants to explore a new medium,
            knowing exactly where to start can be a challenge. But don’t worry,
            artists. You’ve come to the right place!
          </p>
          <img
            id="art-image"
            src="images/mosaic-200864_1920.jpg"
            alt="art image"
          />
        </div>
      </article>
      <article class="inspiration">
        <h2>Where to find inspiration</h2>
        <div>
          <p>
            Lisbon offers an enthralling selection of museums, art galleries and
            cultural exhibitions. The varied selection of museums range from
            classical art collections through to niche and contemporary
            galleries, along with informative museums. This article will detail
            the best museums in Lisbon and highlight the standout exhibits for
            each.
          </p>
          <img src="" alt="" />
        </div>
      </article>
    </section>
  </body>
</html>
