<html>

<head>
    <title>HOME PAGE</title>
</head>

<body>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <div class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/photo">Photograph</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </div>
    <div>
        <img src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-9/579710_10200324988504802_804423116_n.jpg?_nc_cat=101&_nc_oc=AQk0zv9Nqvt0Y-pGFDe1bRdzusCLt3jlkYdHxiLsNGgjRYSarS4gLddUa-kOaAmpWeI&_nc_ht=scontent.fopo1-1.fna&oh=e93690b55a2a1f834f37588d8a170073&oe=5E449457"
            alt="filipe com cabelo" class="homepage-photo">
    </div>

    <h1>This is Filipe's page</h1>

</body>

</html>