<html>
    <head>
        <title>Welcome Stranger</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <section id="section1">
        <h1>Have you heard about Sam?</h1>
        <h2>If not this is your chance to meet him</h2>
       </section>
       <section id="section2">
         <a href="/about">Learn more about Sam</a>  
         <a href="/works">What does Sam do?</a> 
         <a href="/gallery">See more of Sam</a>   
             
       </section>
    

       
        
    </body>
</html>