<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INDEX PAGE</title>
</head>

<body>

  <div class="title-container">
    <h1>Marina Abramović</h1>

    <h2>Performance Artist // Writer // Art Filmmaker</h2>

    <img class="mainImge" src="images/frontpage.jpg" alt="">

  </div>


</body>

</html>