<html>
  <head>
    <title>sebastiao salgado</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>

  <body>
    <div class="navbar">
      <a href="/about">About</a><a href="/showcase">Photo Gallery</a>
    </div>
    <h1>Sebastiao Salgado</h1>
    <p>this is a very poor example of a website built using node express</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et quaerat hic
      accusamus nesciunt expedita cupiditate repudiandae dolorum, ipsam iusto
      ullam distinctio adipisci blanditiis necessitatibus error officia unde,
      officiis ut maiores?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ea
      voluptatibus architecto perferendis laudantium sit saepe asperiores hic
      corrupti sapiente recusandae nostrum, odit modi. Aperiam dicta similique
      libero provident ratione.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi delectus
      fugit tempore, vero ad dignissimos, illo consequuntur nobis illum facere
      possimus, saepe sapiente cumque aliquid? Doloremque illum exercitationem
      molestiae est!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      magnam, dicta assumenda eius recusandae illo atque pariatur praesentium,
      odio porro, delectus corporis amet cupiditate rerum. Qui odio ea
      doloremque quas.
    </p>
  </body>
</html>
