<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylsheets/style.css">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead">
          <div class="inner">
            <h3 class="masthead-brand">Who I admire</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/works">Works</a>
              <a class="nav-link active" href="/photo">Photos</a>
            </nav>
          </div>
        </header>
        <div class="card-deck">
            <div class="card">
              <img src="https://www.revistaesfinge.com/media/k2/items/cache/5cb7d9c008502deb8141091027f5f238_XL.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Malala Book Cover</h5>
                <p class="card-text">This is the image used for Malala's book cover, a biography of her life until now..</p>
              </div>
            </div>
            <div class="card">
              <img src="https://image.businessinsider.com/58c6aca8dd0895dd4b8b4d00?width=1100&format=jpeg&auto=webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Waving to the crowd</h5>
                <p class="card-text">Image taken when visiting a school in Nepal.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://media.timeout.com/images/105268686/630/472/image.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Young Looks</h5>
                <p class="card-text">Very famous picture taken by a professional photographer while Malala was listening to a Ted Talk.</p>
              </div>
            </div>
        </div>
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Small Express excercise at <a href="https://www.ironhack.com/">Ironhack Bootcamp</a>, by Santiago Balaguer.</p>
          </div>
        </footer>
    </div>
    
</body>
</html>