<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylsheets/style.css">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead">
          <div class="inner">
            <h3 class="masthead-brand">Who I admire</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link active" href="/works">Works</a>
              <a class="nav-link" href="/photo">Photos</a>
            </nav>
          </div>
        </header>

        <h1>Malalas main works and recognitions</h1>
        <br>

        <ul class="list-group list-group-flush">
                <li class="list-group-item">2013: Published I Am Malala: The Story of the Girl Who Stood Up for Education and Was Shot by the Taliban, co-written with British journalist Christina Lamb.</li>
                <li class="list-group-item">2014: Published I Am Malala: How One Girl Stood Up for Education and Changed the World, same memories but for kids.</li>
                <li class="list-group-item">2014 Nobel Peace Prize, shared with Kailash Satyarthi</li>
        </ul>
        
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Small Express excercise at <a href="https://www.ironhack.com/">Ironhack Bootcamp</a>, by Santiago Balaguer.</p>
          </div>
        </footer>
    </div>
    
</body>
</html>