<!DOCTYPE html>
<html>
  <head>
    <title>Shigeru Miyamoto</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="./">home</a>
        <a href="./about">about</a>
        <a href="./works">works</a>
        <a href="./gallery">gallery</a>
      </nav>
    </header>
    <h2>Notable works</h2>
    <img src='./images/shigeru_works.jpg'/>
    <div id="content">
      <div>
        <img class="game" src="./images/about_mario.png" alt="" />
        <p>Super Mario</p>
      </div>
      <div>
        <img class="game" src="./images/about_pokemon.png" alt="" />
          <p>Pokemon</p>
        </div>
      <div>
        <img class="game" src="./images/about_dk.png" alt="" />
        <p>Donkey Kong</p>
      </div>
      <div>
        <img class="game" src="./images/about_link.png" alt="" />
        <p>The Legend of Zelda</p>
      </div>
      <div>
        <img class="game" src="./images/about_starfox.png" alt="" />
        <p>Starfox</p>
      </div>
    </div>
  </body>

</html>