<html>
    <head>
        
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body id="bodyWork">
        <h2> What does Sam do? </h2>
        <h4>Sam works for the USA military</h4>
        <img src="/images/military.jpg" width="260" height="300">
        <h4>But in his free time he also enjoys being a shark</h4>
        <video width="320" height="240" controls>
         <source src="/videos/video.mp4" type="video/mp4">
               
              </video>
              <a href="/">Back to main page</a>     
    </body>
</html>