<html>

<head>
    <title>Work</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <h1>Work</h1>
    <div>
        <p>If metal electrodes are exposed to light, electrical sparks between them occur more readily. For this
            "photoelectric effect" to occur, the light waves must be above a certain frequency, however. According to
            physics theory, the light's intensity should be critical. In one of several epoch-making studies beginning
            in 1905, Albert Einstein explained that light consists of quanta - "packets" with fixed energies
            corresponding to certain frequencies. One such light quantum, a photon, must have a certain minimum
            frequency before it can liberate an electron.</p>
    </div>
    <div><a href="/">Main page</a></div>
</body>

</html>