* {
  font-family: sans-serif;
}

nav ul {
  background-color: crimson;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.5em;
  list-style: none;
}

h1 {
  font-size: 3em;
}

body {
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 50%;
}

.bg-light {
  background-color: #0080ff;
}

.contain {
  margin-bottom: 70px;
}

.cover {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin: auto;
  height: 800px;
}

.padding {
  margin-top: 50px;
  padding-top: 50px;
}

.about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

p {
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
