* {
  box-sizing: border-box;
}

html,
body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  background-color: rgb(214, 208, 208);
  font-size: 20px;
}

img {
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 500 / public/styles/main.csspx;
  justify-content: space-around;
  text-align: center;
}
