body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

p {
  font-style: italic;
}

a {
  color: black;
}

img {
  max-width: 170px;
}

nav div {
  margin: 10px 0;
}
